version: '3.8'
services:
  web-app:
    build: .
    ports:
      - "5000:5000"
    volumes:
      # プログラムやHTMLを同期（保存したら即反映）
      - .:/app
      # posts.jsonを同期（手元でjsonをいじったりバックアップしたりしやすくなります）
      - ./posts.json:/app/posts.json
      - ./static/uploads:/app/static/uploads